* {
  box-sizing: border-box; 
}

body {
  background-color:#ffc0cb;
}

section {
  border: 1px white solid;
  width: 33.33%;
  border-width: thick;
  float: left;
  position: relative;
  padding: 10px;
  padding-top: 60px;
  border-color:#000000;
  background-color:#FFFFFF ;
}

p {
  text-align: center;
  color:#000000; 
  font-family: Verdana;

}


@media (min-width: 768px) and (max-width: 991px) {
  section.first {
    width: 50%;
  }

  section.second {
    width: 50%;
  }
  section.third {
    width: 100%;
  
  }
}


@media (max-width: 767px) {
  section {
    width: 100%;
  }
}

